.khan__buy-link {
  font-weight: normal;
	font-size: 30px;
	line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  align-self: self-start;
}

.khan__buy-link:hover {
  opacity: .3;
  transition: opacity .4s ease;
}
